<section data-ng-controller="EditDataSourceController as vm">
	<div class="container-fluid" style="height: 100%;padding-left:0px;">
		<div id="settings-menu" class="settings-menu">
			<div id="settings-view-menu-top" class="settings-view-menu-top">
			 	<div style="margin: auto; width: 60%;">
				 	<a href="http://www.agora.icmc.usp.br"
						target="_blank"> <img alt="Agora Research Group"
						src="/AGORA-GeoDash-client/src/imgs/agora/agora.png"
						width="120px"/>
					</a>
				</div>
				<hr/>
				<div style="margin: auto; width: 70%;">
				 	<h1><small>Data Source</small></h1>
				</div>
				<hr/>	
				<div class="media" style="padding-left: 20px;">
				  <div class="media-left media-middle">
				    <a href="ListDataSources">
				      <img class="media-object" src="/AGORA-GeoDash-client/src/imgs/icons/information.png"
				       	width="25px">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="ListDataSources">
				    	<h4>List</h4>
				    </a>
				  </div>
				</div>
			</div>
			<div id="settings-view-menu-bottom" class="settings-view-menu-bottom">
				<div id="settings-view-menu-bottom-align" class="settings-view-menu-bottom-align">
					<div class="media" style="padding-left: 20px">
					  <div class="media-left media-middle">
					    <a href="/AGORA-GeoDash-client/src/">
					      <img class="media-object" src="/AGORA-GeoDash-client/src/imgs/icons/home.png"
					       	width="25px">
					    </a>
					  </div>
					  <div class="media-body">
					    <a href="/AGORA-GeoDash-client/src/">
					    	<h4>Home</h4>
					    </a>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="settings-view" id="settings-view">
		    <form name="dsForm" novalidate ng-submit="register()" >
				<div id="legend">
					<legend class="">Edit Data Source {{dataSource.id}}</legend>
				</div>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Title</label> 
					<input md-maxlength="30" required name="dsTitle" ng-model="dataSource.title">
					
					<div ng-messages="dsForm.dsTitle.$error" 
					     ng-if="dsForm.dsTitle.$dirty">
			       		<div ng-message="required">Title is required.</div>
			            <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Description</label> 
					<input ng-model="dataSource.description">
				</md-input-container>

				<br />

				<md-button class="md-raised" type="submit"
						   ng-disabled="!dsForm.$valid">Register</md-button>
			</form>
		</div>
	</div>
</section>