<section ng-controller="HomeController as vm">
	<div id="map" class="map" ng-model="mainMap"></div>
	<div id="opt-frame" class="opt-frame" ng-show="optShow"
		ng-init="optShow=false">
		<div id="opt" class="opt" style="width: 100%">
			<div layout="column">
				<md-toolbar style="background-color: #AEAEAE;">
      				<div class="md-toolbar-tools">	
						<h3>Feature </h3> 
						<span flex></span>
						<md-button class="md-icon-button" ng-click="configureSensor()">
						<md-icon md-svg-src="imgs/icons/config.svg"
							aria-label="Configure feature"></md-icon> </md-button>
					</div>
				</md-toolbar>
				<div class="panel panel-default" style="width: 100%;margin-bottom:10px;">
					<div class="panel-body">
						<div class="form-group">
							<div class="col-md-4">
								<label class="control-label" for="textinput">ID:</label>
							</div>
							<div class="col-md-7" style="padding-bottom: 8px;">
								{{selSensor.id}}</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label class="control-label" for="textinput">Name:</label>
							</div>
							<div class="col-md-7" style="padding-bottom: 8px;">{{selSensor.name
								| limitTo : 16 : 0}}</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label class="control-label" for="textinput">City:</label>
							</div>
							<div class="col-md-7" style="padding-bottom: 8px;">{{selSensor.city
								| limitTo : 21 : 0}}/{{selSensor.state}}</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label class="control-label" for="textinput">Agency:</label>
							</div>
							<div class="col-md-7" style="padding-bottom: 8px;">{{selSensor.agency}}</div>
						</div>
					</div>
				</div>
				<md-toolbar style="background-color: #AEAEAE;">
      				<div class="md-toolbar-tools">	
						<h3>Observation</h3> 
					</div>
				</md-toolbar>
				<div class="panel panel-default" style="width: 100%;margin-bottom:10px;">
					<div class="panel-body">
						<div class="form-group">
							<md-input-container style="width: 95%"> <label>Property</label>
							<md-select ng-model="selectedProperty"
								ng-model-options="{trackBy: '$value.id'}"> <md-option
								ng-value="property" ng-repeat="property in properties">{{property.stype}}</md-option>
							</md-select>
						</div>
						<div class="form-group">
							<div style="width: 100%">
								<div class="input-group">
									<md-datepicker ng-model="sDateObs" md-placeholder="From"></md-datepicker>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div style="width: 100%">
								<md-datepicker ng-model="eDateObs" md-placeholder="To"></md-datepicker>
							</div>
						</div>
					</div>
				</div>
				<div style="margin: auto; width: 40%;">
					<md-button class="md-raised" ng-click="filter($event)">Filter</md-button>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-bar" class="nav-bar">
		<div id="nav-shadow" class="nav-shadow">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-icons" href="#"> <img title="Menu"
							src="/AGORA-GeoDash-client/src/imgs/icons/searchbox-hamb.png"
							width="20px" height="20px" ng-click="openSettings()" />
						</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group typeahead-demo">
								<input type="text" ng-model="searchValue" placeholder="Search"
									uib-typeahead="address for address in getLocation($viewValue)"
									class="form-input"
									typeahead-popup-template-url="/AGORA-GeoDash-client/src/templates/customPopupTemplate.html">
							</div>
						</form>
						<div class="nav navbar-nav navbar-right">
							<a class="navbar-icons" href="#"> <img title="Search"
								src="/AGORA-GeoDash-client/src/imgs/icons/search-button.png"
								width=22px " height="22px" ng-click="selectLocation()" />
							</a> <a class="navbar-icons" href="http://www.agora.icmc.usp.br"
								target="_blank"> <img title="Agora Research Group"
								src="/AGORA-GeoDash-client/src/imgs/agora/agora.png"
								width="50px" />
							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div id="web-settings" class="web-settings" ng-show="isSetOpen"
		ng-init="isSetOpen=false">
		<div id="web-settings-menu" class="web-settings-menu">
			<div style="margin: auto; width: 32%;">
				<a href="http://www.agora.icmc.usp.br" target="_blank"> <img
					alt="Agora Research Group"
					src="/AGORA-GeoDash-client/src/imgs/agora/agora.png" width="120px" />
				</a>
			</div>
			<hr />
			<div class="media" style="padding-left: 20px;">
				<div class="media-left media-middle">
					<a href="ListDecisions"> <img class="media-object"
						src="/AGORA-GeoDash-client/src/imgs/icons/decision.png"
						width="30px">
					</a>
				</div>
				<div class="media-body">
					<a href="ListDecisions">
						<h4>Decision</h4>
					</a>
				</div>
			</div>
			<div class="media" style="padding-left: 20px;">
				<div class="media-left media-middle">
					<a href="ListInfoReqs"> <img class="media-object"
						src="/AGORA-GeoDash-client/src/imgs/icons/information.png"
						width="30px">
					</a>
				</div>
				<div class="media-body">
					<a href="ListInfoReqs">
						<h4>Information</h4>
					</a>
				</div>
			</div>
			<div class="media" style="padding-left: 20px;">
				<div class="media-left media-middle">
					<a href="ListDataSources"> <img class="media-object"
						src="/AGORA-GeoDash-client/src/imgs/icons/datasource.png"
						width="30px">
					</a>
				</div>
				<div class="media-body">
					<a href="ListDataSources">
						<h4>Data Source</h4>
					</a>
				</div>
			</div>
		</div>
		<div id="web-settings-nu" class="web-settings-nu"
			ng-click="closeSettings()"></div>
	</div>

</section>
