<section ng-controller="HomeController as vm">
	<div id="map" class="map" ng-model="mainMap"></div>
	<div id="opt-frame" class="opt-frame" ng-show="optShow"
		ng-init="optShow=false">
		<div id="opt" class="opt" style="width: 100%">
			<div class="panel panel-default">
				<div class="panel-heading">Procedure</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-md-4">
							<label class="control-label" for="textinput">Key-ID:</label>
						</div>
						<div class="col-md-8" style="padding-bottom: 8px;">
							DIAD-11923123-DJASJD-7216512</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<label class="control-label" for="textinput">Description:</label>
						</div>
						<div class="col-md-8" style="padding-bottom: 8px;">SENSOR -
							SHOPPING</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" style="width: 100%">
				<div class="panel-heading">Observation</div>
				<div class="panel-body" style="width: 100%">
					<div class="form-group">
						<div class="col-md-2">
							<label class="control-label" for="textinput">From</label>
						</div>
						<div class="col-md-10" style="padding-bottom: 8px;">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="From"
									datetime-picker="dd MMM yyyy HH:mm" ng-model="myDateFrom"
									is-open="isOpenFrom" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="openCalendarFrom($event, prop)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label class="control-label" for="textinput">To</label>
						</div>
						<div class="col-md-10" style="padding-bottom: 8px;">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="To"
									datetime-picker="dd MMM yyyy HH:mm" ng-model="myDateTo"
									is-open="isOpenTo" /> <span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="openCalendarTo($event, prop)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
    					<div class="col-md-12" style="padding-left: 0; width: 10px;">
 							<div id="chart" style="width: 21%; height: 230px;"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-bar" class="nav-bar">
		<div id="nav-shadow" class="nav-shadow">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-icons" href="#"> <img title="Menu"
							src="/AGORA-GeoDash-client/src/imgs/icons/searchbox-hamb.png"
							width="20px" height="20px" ng-click="openSettings()"/>
						</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group typeahead-demo">
								<input type="text" ng-model="searchValue" placeholder="Search"
									uib-typeahead="address for address in getLocation($viewValue)"
									class="form-input"
									typeahead-popup-template-url="/AGORA-GeoDash-client/src/templates/customPopupTemplate.html">
							</div>
						</form>
						<div class="nav navbar-nav navbar-right">
							<a class="navbar-icons" href="#"> <img title="Search"
								src="/AGORA-GeoDash-client/src/imgs/icons/search-button.png"
								width=22px " height="22px" ng-click="selectLocation()" />
							</a> <a class="navbar-icons" href="http://www.agora.icmc.usp.br"
								target="_blank"> <img title="Agora Research Group"
								src="/AGORA-GeoDash-client/src/imgs/agora/agora.png"
								width="50px" />
							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div id="web-settings" class="web-settings" ng-show="isSetOpen" ng-init="isSetOpen=false" >
		<div id="web-settings-menu" class="web-settings-menu">
			<div style="margin: auto; width: 32%;">
			 	<a href="http://www.agora.icmc.usp.br"
					target="_blank"> <img alt="Agora Research Group"
					src="/AGORA-GeoDash-client/src/imgs/agora/agora.png"
					width="120px"/>
				</a>
			</div>
			<hr/>
			<div class="media" style="padding-left: 20px;">
			  <div class="media-left media-middle">
			    <a href="ListDecisions">
			      <img class="media-object" src="/AGORA-GeoDash-client/src/imgs/icons/decision.png"
			       	width="30px">
			    </a>
			  </div>
			  <div class="media-body">
			    <a href="ListDecisions">
			    	<h4>Decision</h4>
			    </a>
			  </div>
			</div>
			<div class="media" style="padding-left: 20px;">
			  <div class="media-left media-middle">
			    <a href="information">
			      <img class="media-object" src="/AGORA-GeoDash-client/src/imgs/icons/information.png"
			       	width="30px">
			    </a>
			  </div>
			  <div class="media-body">
			    <a href="information">
			    	<h4>Information</h4>
			    </a>
			  </div>
			</div>
			<div class="media" style="padding-left: 20px;">
			  <div class="media-left media-middle">
			    <a href="datasource">
			      <img class="media-object" src="/AGORA-GeoDash-client/src/imgs/icons/datasource.png"
			       	width="30px">
			    </a>
			  </div>
			  <div class="media-body">
			    <a href="datasource">
			    	<h4>Data Source</h4>
			    </a>
			  </div>
			</div>
		</div>
		<div id="web-settings-nu" class="web-settings-nu" ng-click="closeSettings()"></div>
	</div>
</section>
