<section data-ng-controller="HomeController as vm">
	<div id="map" class="map" ng-model="mainMap"></div>
	<div id="opt-frame" class="opt-frame" ng-show="optShow"
		ng-init="optShow=false" ng-animate="box">
		<div id="opt" class="opt">
			<uib-timepicker ng-model="mytime" ng-change="changed()"
				hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
		</div>
	</div>
	<div id="nav-bar" class="nav-bar">
		<div id="nav-shadow" class="nav-shadow">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-icons" href="#"> <img alt="Menu"
							src="/AGORA-GeoDash-client/src/imgs/icons/searchbox-hamb.png"
							width=20px " height="20px" />
						</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group typeahead-demo">
								<input type="text" ng-model="searchValue" placeholder="Search"
									uib-typeahead="address for address in getLocation($viewValue)" class="form-input"									
									typeahead-popup-template-url="/AGORA-GeoDash-client/src/templates/customPopupTemplate.html">
							</div>
						</form>
						<div class="nav navbar-nav navbar-right">
							<a class="navbar-icons" href="#"> <img alt="Search"
								src="/AGORA-GeoDash-client/src/imgs/icons/search-button.png"
								width=22px " height="22px" ng-click="selectLocation()" />
							</a> <a class="navbar-icons" href="http://www.agora.icmc.usp.br" target="_blank"> <img
								alt="Agora Research Group"
								src="/AGORA-GeoDash-client/src/imgs/agora/agora.png"
								width="50px" />
							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</section>
